---
  import Icon from './icon.astro'
  import XTDBLogo from './xtdb-logo.astro';

  const footer_text_classes = "mb-4 text-[#415674] dark:text-light-grey"
  const footer_address_text = "mb-0 text-[#415674] dark:text-light-grey leading-5"
---

<footer class="pt-16 bg-background-orange dark:bg-grey">
  <div class="container">
    <div>
      <nav class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5">
        <div class="grow basis-12 m-2 flex flex-col text-base">
          <XTDBLogo class="-mt-4 w-36 h-14 mb-4" />
          <div class={footer_text_classes}>XTDB by <a class={footer_text_classes + " underline"} href="https://www.juxt.pro/">JUXT</a></div>
          <p class={footer_address_text}> Norfolk House</p>  
          <p class={footer_address_text}> Silbury Blvd</p>   
          <p class={footer_address_text}> Milton Keynes MK9 2AH </p>   
          <p class={footer_address_text}> United Kingdom </p>  
          <p class={footer_text_classes + " mt-2"}> +44 (0) 333 93 98 309 </p>         
          <a class={footer_text_classes + " underline"} href="/contact">Contact Us</a>
          <a class="text-juxt-orange underline flex flex-row items-center gap-2" href="https://github.com/xtdb/xtdb">
            <div>Star us on GitHub</div>
            <Icon name="star" class="h-4 w-4" />
          </a>
        </div>
        <div class="grow basis-12 m-2 flex flex-col text-base">
          <h3 class="mb-4 text-lg text-blue-950 dark:text-white"> XTDB </h3>
          <a class={footer_text_classes} href="/solutions">Solutions</a>
          <a class={footer_text_classes} href="/docs">Docs</a>
          <a class={footer_text_classes} href="/blog">Blog</a>
          <a class={footer_text_classes} href="/team">Team</a>
        </div>
        <div class="grow basis-12 m-2 flex flex-col text-base">
          <h3 class="mb-4 text-lg text-blue-950 dark:text-white">Learn</h3>
          <a class={footer_text_classes} href="https://v1-docs.xtdb.com/tutorials">Tutorials</a>
          <a class={footer_text_classes} href="https://v1-docs.xtdb.com/guides">Guides</a>
          <a class={footer_text_classes} href="https://v1-docs.xtdb.com/concepts">Concepts</a>
          <a class={footer_text_classes} href="/#request-demo">Request a Demo</a>
        </div>
        <div class="grow basis-12 m-2 flex flex-col text-base">
          <h3 class="mb-4 text-lg text-blue-950 dark:text-white">Community</h3>
          <a class={footer_text_classes} href="https://discuss.xtdb.com">Discuss</a>
          <a class={footer_text_classes} href="https://juxt-oss.zulipchat.com/#narrow/stream/194466-xtdb">Zulip Chat</a>
          <a class={footer_text_classes} href="/pdfs/xtdb-partner-brief.pdf">Partner with us</a>
          <a class={footer_text_classes} href="http://www.twitter.com/xtdb_com">Twitter</a>
        </div>
        <div class="grow basis-12 m-2 flex flex-col text-base">
          <h3 class="mb-4 text-lg text-blue-950 dark:text-white">Support by JUXT</h3>
          <a class={footer_text_classes} href="/support/production">Production Support</a>
          <a class={footer_text_classes} href="/support/consulting">Consulting</a>
          <a class={footer_text_classes} href="/support/training">Training</a>
        </div>
      </nav>
    </div>

    <div class="flex flex-row items-center justify-center lg:justify-start gap-6 mt-4 lg:ml-1">
      <a class="w-10 h-10 lg:h-8 lg:w-8 text-[#415674] dark:text-light-grey" href="https://twitter.com/xtdb_com">
        <Icon name="twitter" class="w-full h-full" />
      </a>
      <a class="w-8 h-8 lg:h-6 lg:w-6 text-[#415674] dark:text-light-grey" href="https://mastodon.social/@xtdb">
        <Icon name="mastodon" class="w-full h-full" />
      </a>
      <a class="w-8 h-8 lg:h-6 lg:w-6 text-[#415674] dark:text-light-grey" href="https://www.linkedin.com/company/xtdb/about/">
        <Icon name="linkedin" class="w-full h-full" />
      </a>
      <a class="w-10 h-10 lg:h-8 lg:w-8 text-[#415674] dark:text-light-grey" href="https://www.youtube.com/@xtdb">
        <Icon name="youtube" class="w-full h-full" />
      </a>
    </div>
    <div class="flex flex-col gap-4 lg:gap-8 h-fit lg:items-center lg:flex-row mx-auto mt-16 lg:mb-20 px-7 pt-5 pb-14 lg:py-5 bg-juxt-orange rounded-2xl">
      <div class="lg:w-2/5 text-white font-bold">
        <p class="text-lg lg:text-xl my-0">Want to be the first to know about XTDB news, updates and events (no spam, we promise)?</p>
      </div>
      <div class="grow" id="xt-signup-form">
        <form action="https://JUXT.us13.list-manage.com/subscribe/post?u=b72ef384b5199134185cbeed8&amp;id=93a7ed205e"
              method="post" id="xt-signup-subscribe-form" name="xt-signup-subscribe-form"
              class="validate" target="_blank" novalidate>
          <div class="flex flex-col gap-2 lg:gap-0 lg:flex-row h-16">
            <div class="w-full rounded-lg lg:rounded-r-none lg:rounded-l-lg bg-dark-grey">
              <input 
                class="w-full h-full m-auto pl-4 py-2 border-none bg-transparent text-white text-lg lg:text-2xl required email"
                type="email" 
                value="" 
                name="EMAIL" 
                id="xt-signup-EMAIL"
                placeholder="Type your email here"
                required>
            </div>

            <div id="xt-signup-responses" class="clear">
              <div class="response" id="xt-signup-error-response" style="display:none"></div>
              <div class="response" id="xt-signup-success-response" style="display:none"></div>
            </div>

            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_b72ef384b5199134185cbeed8_93a7ed205e" tabindex="-1" value="">
            </div>
            <div class="form-subscribe">
              <input
                class="ml-auto lg:w-40 lg:h-full border-none lg:!rounded-l-none lg:!rounded-r-lg lg:!text-lg homepage-button white"
                type="submit"
                value="Subscribe"
                name="subscribe">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="flex flex-wrap justify-center lg:mt-12 py-12 lg:border-t lg:border-juxt-orange text-base">
      <a class={footer_text_classes + " mx-4 underline"} href="/privacy">Privacy Policy</a>
      <a class={footer_text_classes + " mx-4 underline"} href="/terms">Terms & Conditions</a>
    </div>
  </div>
</footer>
