---
  const { href, class: classes, color = "black", label, variant } = Astro.props;
---

<a href={href} data-button-color={color} data-button-variant={variant} class={classes}>
  <slot>{label}</slot>
</a>

<style>
  a {
    @apply px-4 pt-3 pb-2 rounded-lg font-bold text-sm uppercase no-underline hover:!no-underline
  }

  a[data-button-color="black"] {
    @apply text-white bg-button-dark
  }

  a[data-button-color="white"] {
    @apply text-black bg-button-white
  }

  a[data-button-color="orange"] {
    @apply text-white bg-button-orange
  }

  a[data-button-variant="outlined"] {
    @apply border border-black
  }
</style>
